body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 80px 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: normal;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .05em;
  color: #333;
}

.lead {
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: #333;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.header-nav-item a {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
  letter-spacing: .05em;
  color: #333;
}

.header-nav-item a:hover {
  opacity: .8;
}

/*--------------------------------
 スプリットスクリーン
---------------------------------*/
.split {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.split-body {
  width: 50%;
  padding-right: 3%;
  padding-left: 10%;
}

.split-img {
  width: 50%;
  height: 95vh;
  background-image: url(../img/mv.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.split-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: .05em;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 3px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f3f3f3;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}
/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 20px;
  text-align: center;
}

.article-img {
  margin-bottom: 20px;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-info-title {
  font-size: 15px;
}

.article-body img {
  margin-bottom: 30px;
}

.article-body p {
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .inner {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header-inner {
    padding: 20px;
  }

  .header-logo {
    font-size: 16px;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 10px;
  }

  .header-nav-item a {
    font-size: 11px;
  }

  /* スプリットスクリーン */
  .split {
    flex-direction: column-reverse;
  }

  .split-body {
    width: 100%;
    padding-right: 3%;
    padding-left: 8%;
  }

  .split-img {
    width: 100%;
    height: 67vh;
    margin-bottom: 20px;
    background-image: url(../img/sp_mv.jpg);
  }

  .split-title {
    font-size: 32px;
  }

  /* Works */
  .works-name {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }
}
